body {
  color: #fff !important;
}
.home {
  max-width: 800px;
  margin: auto;
  padding: 15px;
  margin-top: 50px;
}
.input-group input:focus {
  background-color: #374148;
}
.input-group > .form-control {
  background-color: #374148;
  margin: 0 0 15px 0;
  padding: 0 20px;
  border: 0px;

  border-color: transparent;
  min-height: 65px;
  color: #fff;
}
.input-group > .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.input-group > .input-group-append > .btn {
  background-color: #2c3338;
  margin: 0 0 15px 0;
  padding: 0 30px;

  border-color: transparent;
  font-size: 18px;
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 3;
}
.input-group > .input-group-append > .btn:focus,
.input-group > .input-group-append > .btn:active {
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0px !important;
  border: 0px !important;
}
.input-group > .input-group-append > .btn:hover {
  background-color: #374148;
}
.input-group > .input-group-append > .btn::after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: #22272b;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10%;
}
/*  =====  tasks  =====   */

.tasks {
  padding: 0px 0rem 0rem 2.5rem;
  border-left: #374148 solid 0.2rem;
  margin-top: 70px;
  margin-left: 20px;
  position: relative;
}
.tasks span {
  cursor: pointer;
}
.tasks input {
  width: 100%;
  background: #2c3338;
  color: #fff;
  border: 0px;
  padding: 15px 20px;
  padding-right: 45px;
}
.tasks input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0px;
}
.tasks .iconTasks {
  position: absolute;
  left: -31px;
  top: -77px;
  font-size: 60px;
  color: #374148;
}
.tasks ul {
  list-style: none;
  padding: 0px;
}
.tasks ul li {
  position: relative;
  overflow-wrap: break-word;
  margin: 15px 0px;
  padding: 15px 20px;
  padding-right: 45px;
  background: #374148;
}
.tasks ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #374148;
  left: -2.9rem;
  top: 1.1rem;
}
.tasks ul li .icon-delete {
  position: absolute;
  right: 7px;
  bottom: 8px;
  color: #000;
  font-size: 35px;
  cursor: pointer;
}
.tasks ul li .icon-delete:hover {
  color: #5f0a0a;
}
.tasks ul li .done-icon-container {
  position: absolute;
  color: #374148;
  font-size: 35px;
  cursor: pointer;
  left: -2.5rem;
  top: -0.4rem;
  width: 30px;
  height: 30px;
  background: #2c333800;
}
.tasks ul li .done-icon {
  position: absolute;
  top: 0px;
}
.tasks ul li.active {
  background: #2c3338;
  text-decoration: line-through;
  color: #828080;
}
.tasks ul li.edit {
  padding: 0px;
}
.tasks ul li.active .done-icon-container {
  color: #1b941f;
}
.tasks ul li.active::before {
  background-color: #1b941f;
}
