.form-container {
  max-width: 70%;
  margin: auto;
  margin-top: 25vh;
}
.form-container form {
  max-width: 350px;
  margin: auto;
  position: relative;
}
.form-container form .form-control {
  background: #374148;
  border: none;
  height: calc(2.5em + 0.75rem + 2px);
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-container .form-group {
  position: relative;
  padding-left: 3.8em;
}
.form-container .form-group .input-icon {
  color: #606468;
  font-size: 1.4em;
}
.form-container .form-group label {
  display: flex;
  position: absolute;
  background: #2c3338;
  height: 100%;
  left: 0px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 1.25em;
  padding-top: 1.1em;
}
.form-container button {
  color: #606468;
  background: #2c3338;
  border: 0px;
  box-shadow: none;

  width: 100%;
}
.form-container button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-container button:hover {
  background: #374148;
  color: #fff;
}
